@page "/StockAggregate"
@inject ProtectedLocalStorage ProtectedLocalStore

@using Microsoft.AspNetCore.Components.Web

@inject EmployeeAdoNetService EmployeeService

@using BlazorDemo.Services;
@using BlazorDemo;
@inject IJSRuntime JS
@inject NavigationManager NavigationManager
@inject UserSessionService UserSessionService

  <div class="col-xl-4 col-lg-6 col-xs-12">
        <h6><strong>Aggregate Report </strong></h6>
      
        <button @onclick="GoBack" class="btn btn-primary">
            <i class="fa fa-arrow-left"></i>
        </button>
    </div>

  
 @*    <style>
    .grid-container {
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
    }

        /* Optional: Make the grid itself wider than viewport */
        .grid-container .dxbl-grid {
            min-width: 800px; /* Adjust based on your total column widths */
        }
</style>
 *@

<style>
    @@media (max-width: 768px) {
        .dxbl-grid {
            width: 768px; /* Force minimum width */
        }
    }

    .alt-item {
        background-color: rgba(243, 244, 245, 1) !important;
    }

        .alt-item > td {
            --dxbl-grid-bg: rgba(243, 244, 245, 1) !important;
            background-color: rgba(243, 244, 245, 1) !important;
        }
</style>
<div style="overflow-x:auto; width:100%;">

    <DxGrid Data="@Growers" PageSize="100" ShowSearchBox="true"
            PageSizeSelectorVisible="true"
            PageSizeSelectorItems="@(new int[] {5, 10, 15, 20, 25, 50, 100 })"
            PageSizeSelectorAllRowsItemVisible="true"
            ShowGroupPanel="false" FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
            ColumnResizeMode="GridColumnResizeMode.NextColumn" CustomizeElement="Grid_CustomizeElement" TextWrapEnabled="true">

        <Columns>
            <DxGridDataColumn FieldName=@nameof(companyModel.Growerid) Visible="false" MinWidth="100" Caption="Party" Width="25%" />
           
            <DxGridDataColumn FieldName=@nameof(companyModel.GrowerGroupName) MinWidth="100" Caption="Party" Width="20%" />
             <DxGridDataColumn FieldName=@nameof(companyModel.TotalPrecompanyQty) MinWidth="100"  DisplayFormat="F0" Caption="Company Crates" Width="9%" />
            <DxGridDataColumn FieldName=@nameof(companyModel.TotalPreownQty) MinWidth="100" DisplayFormat="F0" Caption="Own Crates" Width="9%" />
            <DxGridDataColumn FieldName=@nameof(companyModel.TotalPreQty) MinWidth="100"  DisplayFormat="F0" Caption="Total" Width="9%" />
            <DxGridDataColumn FieldName=@nameof(companyModel.TotalIncompanyQty) MinWidth="100"  DisplayFormat="F0" Caption="Verfied Company Crates" Width="9%" />
            <DxGridDataColumn FieldName=@nameof(companyModel.TotalInownQty) MinWidth="100"  DisplayFormat="F0" Caption="Verified Own" Width="9%" />
            <DxGridDataColumn FieldName=@nameof(companyModel.TotalInpettyQty) MinWidth="100" DisplayFormat="F0" Caption="Verified Petty" Width="9%" />
            <DxGridDataColumn FieldName=@nameof(companyModel.TotalInQty) MinWidth="100"  DisplayFormat="F0" Caption="Verified Qty" Width="9%" />

         
         
            <DxGridCommandColumn>
                <HeaderTemplate>
                    <strong>Actions</strong>
                  
                </HeaderTemplate>
                <CellDisplayTemplate>

                  
                    
                    
                    <a title="Chamber Aggregate" class="fa fa-building" @onclick="@(() =>ViewSubListChamber(((CompanyModel)context.DataItem).Growerid))" style="cursor: pointer; margin-left: 7px;"></a>


                  

                    <a title="Print" class="fa fa-print text-red" @onclick="@PrintAgreement" style="cursor: pointer; margin-right: 7px;"></a>

                 
                    @if (companyModel.GroView == true)
                    {
                        <a title="View Grower List" class="oi oi-person" @onclick="@(() =>ViewSubList(((CompanyModel)context.DataItem).Growerid))" style="cursor: pointer; margin-left: 7px;"></a>


                    }
                </CellDisplayTemplate>
            </DxGridCommandColumn>



            <style>
                .even-row {
                    background-color: #f5f5f5; /* light gray */
                }

                .odd-row {
                    background-color: white;
                }
            </style>

          
        </Columns>

        <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Sum" ValueDisplayFormat="F0" FieldName="@nameof(companyModel.TotalPrecompanyQty)" />
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Sum" ValueDisplayFormat="F0" FieldName="@nameof(companyModel.TotalPreownQty)" />
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Sum" ValueDisplayFormat="F0" FieldName="@nameof(companyModel.TotalPreQty)" />
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Sum" ValueDisplayFormat="F0" FieldName="@nameof(companyModel.TotalIncompanyQty)" />

            <DxGridSummaryItem SummaryType="GridSummaryItemType.Sum" ValueDisplayFormat="F0" FieldName="@nameof(companyModel.TotalInownQty)" />
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Sum" ValueDisplayFormat="F0" FieldName="@nameof(companyModel.TotalInpettyQty)" />
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Sum" ValueDisplayFormat="F0" FieldName="@nameof(companyModel.TotalInQty)" />


        </TotalSummary>
       @*  <TotalSummary>
            <DxGridSummaryItem SummaryType="GridSummaryItemType.Sum" FieldName="@nameof(companyModel.TotalPreownQty)" />

        </TotalSummary> *@


    </DxGrid>
</div>

<DxDialogProvider />

<DxPopup @bind-Visible="@isDialogVisible"
         HeaderText="Confirmation"
         ShowCloseButton="true"
         CssClass="validation-dialog">
    <Content>
        Are you sure you want to change the status for Grower ID: <strong>@selectedGrowerId</strong>?
        <div>
        <DxButton RenderStyle="ButtonRenderStyle.Primary" Click="@OnConfirmYes">Yes</DxButton>
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Click="@OnConfirmNo">No</DxButton>
        </div>
    </Content>
   
</DxPopup>


<DxPopup @bind-Visible="@DeleteDialog"
         HeaderText="Confirmation"
         ShowCloseButton="true"
         CssClass="validation-dialog">
    <Content>
        Are you sure you want to delete the  Grower ID: <strong>@selectedGrowerId</strong>?
        <div>
            <DxButton RenderStyle="ButtonRenderStyle.Primary" Click="@OnConfirmYesDelete">Yes</DxButton>
            <DxButton RenderStyle="ButtonRenderStyle.Secondary" Click="@OnConfirmNoDelete">No</DxButton>
        </div>
    </Content>

</DxPopup>





@if (ShowEmptyFieldDialog)
{
    <DxPopup @bind-Visible="@ShowEmptyFieldDialog"
             HeaderText="Validation Error"
             ShowCloseButton="true"
             CssClass="validation-dialog">
        <Content>
            <p>@DialogMessage</p>
            <DxButton Text="OK" Click="@(() => ShowEmptyFieldDialog = false)" />
        </Content>
    </DxPopup>
}
<style>
    .custom-popup-style {
        background-color: #fdfdfd;
        border: 2px solid #0078d4;
        border-radius: 12px;
        padding: 10px;
        font-family: 'Segoe UI', sans-serif;
    }

        .custom-popup-style .dxbs-popup-header {
            background-color: #0078d4;
            color: white;
            font-weight: bold;
            border-bottom: none;
        }

        .custom-popup-style .dxbs-popup-content {
            font-size: 15px;
            padding: 15px;
        }
</style>
@if (ShowEmptyFieldDialogError)
{
    <DxPopup @bind-Visible="@ShowEmptyFieldDialogError"
             HeaderText="Confirmation Message"
             ShowCloseButton="true"
             CssClass="custom-popup-style">



        <Content>
            <p><strong>Success </strong>@DialogMessage</p>
            <DxButton Text="OK" RenderStyle="ButtonRenderStyle.Primary" Click="@(() => ShowEmptyFieldDialogError = false)" />
        </Content>
    </DxPopup>
}











@code {
    IGrid Grid { get; set; }
    private string DialogMessage { get; set; } = "";
    private bool ShowEmptyFieldDialogError { get; set; }
    private string ChallanGroup { get; set; } = "";

    private bool ShowEmptyFieldDialog { get; set; }


    private void DeleteGrower(int growerId)
    {
        selectedGrowerId = growerId;
        DeleteDialog = true;


    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var uri = new Uri(NavigationManager.Uri);
            var pageSegment = uri.AbsolutePath.Trim('/'); // "login", "dashboard", etc.

            string pageName = string.IsNullOrWhiteSpace(pageSegment)
                ? "Home"
                : System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(pageSegment.Replace("-", " "));
            pageName = "Grower List";
            string title = $"Cold Store | {pageName}";
            await JS.InvokeVoidAsync("setDocumentTitle", title);
        }
    }


    private void ViewGrower(int growerId)
    {
        companyModel.Growerid = growerId;


        NavigationManager.NavigateTo($"/ViewGrowerAgreement/{growerId}");

    }
    

    private void AddGrowerAgreement(int growerId)
    {
        companyModel.Growerid = growerId;


        NavigationManager.NavigateTo($"/EditGrowerAgreement/{growerId}");

    }

    

    private async void PrintAgreement()
    {
        await JS.InvokeVoidAsync("window.open", "/InwardAggregate", "_blank");

    }


    private void ViewSubGrower(int growerId)
    {
        companyModel.Growerid = growerId;


        NavigationManager.NavigateTo($"/ViewSubGrower/{growerId}");

    }
    
    
    private void AddGrower(int growerId)
    {
        companyModel.Growerid = growerId;


        NavigationManager.NavigateTo($"/AddGrower");

    }

    private void EditGrower(int growerId)
    {
        companyModel.Growerid = growerId;


        NavigationManager.NavigateTo($"/EditGrower/{growerId}");

    }
    protected async Task OnConfirmYes()
    {


       companyModel.Growerid = selectedGrowerId;
        await EmployeeService.UpdateGrowerStatus(selectedGrowerId, companyModel);


       Growers = await EmployeeService.GetallGrowers();
       

        StateHasChanged();
        isDialogVisible = false;
       
    }

    protected async Task OnConfirmYesDelete()
    {


        companyModel.Growerid = selectedGrowerId;
      
        var result = await EmployeeService.DeleteGrowerGroup(selectedGrowerId,companyModel);
        if (result != null && result.RetFlag.Trim() == "TRUE" && !string.IsNullOrEmpty(result.RetMessage))
        {
            Growers = await EmployeeService.GetallGrowers();
            DialogMessage = result.RetMessage;
            ShowEmptyFieldDialogError = true;


            StateHasChanged();
            DeleteDialog = false; // Close the delete confirmation dialog
            return;
        }



        if (result != null && result.RetFlag.Trim() == "FALSE")
        {

            DialogMessage = result.RetMessage ?? "Failed to Update grower group.";
            ShowEmptyFieldDialog = true;
            DeleteDialog = false;
            return;
        }















        Growers = await EmployeeService.GetallGrowers();


        StateHasChanged();
        isDialogVisible = false;

    }


    private void OnConfirmNoDelete()
    {
        DeleteDialog = false;
    }


    private void ViewSubListChamber(int growerId)
    {
        companyModel.Growerid = growerId;


        NavigationManager.NavigateTo($"/ChamberAggregate/{growerId}");

    }



    private void ViewSubList(int growerId)
    {
        companyModel.Growerid = growerId;


        NavigationManager.NavigateTo($"/GrowerStockAggregate/{growerId}");

    }
    private async Task GoBack()
    {
        await JS.InvokeVoidAsync("history.back");
    }



    private void OnConfirmNo()
    {
        isDialogVisible = false;
    }
   
    string GetRowCssClass(object dataItem, int visibleIndex)
    {
        return visibleIndex % 2 == 0 ? "even-row" : "odd-row";
    }
    
    private bool DeleteDialog = false;
    private bool isDialogVisible = false;
    private int selectedGrowerId;
     private void ShowConfirmDialog(int growerId)
    {
        selectedGrowerId = growerId;
        isDialogVisible = true;
   
       
    }
    private void GoToAddGrowerPage()
    {
        NavigationManager.NavigateTo("/AddGrower");
    }
    
    
    
    
    
    
void ChangeSearchMode(string key)
    {
        // CurrentSearchTextParseModeDisplayText = key;
        // CurrentSearchTextParseMode = SearchTextParseModes[key];
    }

    public void ShowDetails(int employeeId)
    {

    }
    public void ShowDetails1(string ename)
    {

    }
    public void ShowDetails2(string dept)
    {

    }
    // private string activeBreakpoint { get; set; }

    // // private List<Order> orders { get; set; }

    // private bool enableAdaptiveUIMode { get; set; }
    // private RowDirection renderingMode { get; set; }
    CompanyModel companyModel = new CompanyModel();
      IGrid MyGrid { get; set; }
    List<CompanyModel> Growers = new List<CompanyModel>();
    
    protected override async Task OnInitializedAsync()
    {

        var userResult13 = await ProtectedLocalStore.GetAsync<string>("UserGroup");
        string GlobalUserGroup = userResult13.Success ? userResult13.Value : null;
        companyModel = await EmployeeService.GrowerPriv(GlobalUserGroup);




        Growers = await EmployeeService.GetallStock();
    }
   // SfGrid<CompanyModel> Grid;
    
    // FilterSettings filterSettings = new FilterSettings { Type = FilterType.Excel };


    private async Task EditHandler(Employee employee)
    {
        // await Grid.SelectRowAsync(companyModel.chid);
        // await Grid.StartEditAsync();
    }


    private async Task DeleteHandler(Employee employee)
    {
       
    }
    protected async Task SaveUnit()
    {
        }
    void Grid_CustomizeElement(GridCustomizeElementEventArgs e)
    {
        if (e.ElementType == GridElementType.DataRow && e.VisibleIndex % 2 == 1)
        {
            e.CssClass = "alt-item";
        }
        if (e.ElementType == GridElementType.HeaderCell)
        {
            e.Style = "background-color: var(--DS-color-surface-neutral-default-selected)";
            e.CssClass = "header-bold";
        }


    }


    public class Order
    {
        public int? OrderID { get; set; }
        public string CustomerID { get; set; }
        public DateTime? OrderDate { get; set; }
        public double? Freight { get; set; }
    }
}