@using BlazorDemo.Configuration
@inject DemoConfiguration Configuration

<DxTreeViewNode title="@DemoItemTooltip" Text="@DemoItem.Title" CssClass="@GetItemCssClass(DemoItem)" NavigateUrl="@DemoItemUrl" BadgeText="@GetItemBadgeText(DemoItem)" Expanded="@DemoItemExpanded">
    <TextTemplate>@DemoItemText</TextTemplate>
    <Nodes>
        @foreach(var childItem in DemoItem.GetNavTreeChildren(Configuration.IsSiteMode).Where(i => IsVisibleItem(i))) {
            <NavMenuLeaf DemoItem="@childItem" SearchResult="@SearchResult" ExpandedItems="@ExpandedItems"></NavMenuLeaf>
        }
    </Nodes>
</DxTreeViewNode>

@code {
    [Parameter]
    public DemoItem DemoItem { get; set; }
    [Parameter]
    public DemoSearchResult SearchResult { get; set; }
    [Parameter]
    public HashSet<string> ExpandedItems { get; set; }

    bool IsVisibleItem(DemoItem item) {
        return SearchResult == null || SearchResult.ContainsInHierarchy(item);
    }

    public bool DemoItemExpanded {
        get {
            if (SearchResult != null || Configuration.IsSingleProduct)
                return true;
            if (ExpandedItems != null && ExpandedItems.Contains(DemoItem.UniqueId))
                return true;
            return false;
        }
    }

    public RenderFragment DemoItemText {
        get {
            return @<span title="@DemoItemTooltip">
                @(new MarkupString(SearchResult?.GetHighlightedMarkup(DemoItem.Title) ?? DemoItem.Title))
            </span>;
        }
    }

    public string DemoItemTooltip {
        get {
            if(SearchResult != null) {
                var sources = SearchResult.GetRankSource(DemoItem);
                if (sources != TextRankSource.None && !sources.Value.HasFlag(TextRankSource.Title))
                    return $"Found by: { string.Join(", ", GetSourcesTooltip(sources.Value)) }";
            }
            return string.Empty;
        }
    }

    public string DemoItemUrl {
        get {
            if(SearchResult != null) {
                if (DemoItem is DemoPage page && page.PageSections.Length > 0 && !page.PageSections.Any(s => IsVisibleItem(s)))
                    return page.PageSections[0].GetNavTreeUrl();
            }
            return DemoItem.GetNavTreeUrl();
        }
    }

    IEnumerable<string> GetSourcesTooltip(TextRankSource sources) {
        if (sources.HasFlag(TextRankSource.Url))
            yield return "url";
        if(sources.HasFlag(TextRankSource.Header))
            yield return "header";
        if(sources.HasFlag(TextRankSource.Keywords))
            yield return "keywords";
        if(sources.HasFlag(TextRankSource.Section))
            yield return "sections";
        if(sources.HasFlag(TextRankSource.ParentTitle))
            yield return "parent title";
    }

    protected string GetItemBadgeText(DemoItem item) {
        var status = item.GetStatus();
        if(status == DemoItemStatus.Preview)
            return "CTP";
        if(status == DemoItemStatus.MaintenanceMode)
            return "Maintenance";
        if(status == DemoItemStatus.New)
            return "New";
        if(status == DemoItemStatus.Updated)
            return " ";
        return string.Empty;
    }

    protected string GetItemCssClass(DemoItem item) {
        var status = item.GetStatus();
        if(status == DemoItemStatus.Preview)
            return "item-ctp";
        if(status == DemoItemStatus.MaintenanceMode)
            return "item-maintenance";
        if(status == DemoItemStatus.New)
            return "item-new";
        if(status == DemoItemStatus.Updated)
            return "item-upd";
        return "";
    }
}
