@page "/TreeList/EditData/EditForms"

<DemoPageSectionComponent Id="TreeList-Editing-EditForms" ShowSizeMode="true">
    <ChildContentWithParameters Context="Params">
        @inject IEmployeeTaskDataProvider EmployeeTaskDataProvider

        <div class="tree-list-container">
            <DxTreeList @ref="TreeList"
                    Data="DataSource"
                    KeyFieldName="Id"
                    ParentKeyFieldName="ParentId"
                    HasChildrenFieldName="HasChildren"
                    VirtualScrollingEnabled="true"
                    ValidationEnabled="false"
                    CustomizeEditModel="TreeList_CustomizeEditModel"
                    EditModelSaving="TreeList_EditModelSaving"
                    DataItemDeleting="TreeList_DataItemDeleting"
                    PopupEditFormCssClass="pw-800"
                    EditMode="@CurrentEditMode"
                    ColumnResizeMode="TreeListColumnResizeMode.NextColumn"
                    TextWrapEnabled="false"
                    SizeMode="Params.SizeMode"
                    HighlightRowOnHover="true">
                <Columns>
                    <DxTreeListCommandColumn Width="200px" />
                    <DxTreeListDataColumn FieldName="Name" Caption="Task"/>
                    <DxTreeListDataColumn FieldName="StartDate" Width="120px" />
                    <DxTreeListDataColumn FieldName="DueDate" Width="120px" />
                    <DxTreeListDataColumn FieldName="Priority" Width="80px" CaptionAlignment="TreeListTextAlignment.Center" TextAlignment="TreeListTextAlignment.Center">
                        <CellDisplayTemplate>
                            @{
                                var displayText = TreeListRenderHelper.EmployeeTaskPriorityToString((EmployeeTask)context.DataItem);
                            }
                            <span title="@displayText priority">@displayText</span>
                        </CellDisplayTemplate>
                        <EditSettings>
                            <DxComboBoxSettings Data="Priorities" ValueFieldName="Value" TextFieldName="Text"/>
                        </EditSettings>
                    </DxTreeListDataColumn>
                    <DxTreeListDataColumn Caption="Progress" FieldName="Status" Width="100px" CaptionAlignment="TreeListTextAlignment.Center" TextAlignment="TreeListTextAlignment.Center">
                        <CellDisplayTemplate>
                            <DxProgressBar Value="Convert.ToDouble(context.Value)"
                                           MinValue="0"
                                           MaxValue="100"
                                           CssClass="status-progress"
                                           Thickness="0.875em"
                                           Size="100%"
                                           ShowLabel="false" />
                        </CellDisplayTemplate>
                        <EditSettings>
                            <DxSpinEditSettings MinValue="0" MaxValue="100" InputCssClass="dxbl-align-right" />
                        </EditSettings>
                    </DxTreeListDataColumn>
                </Columns>
                <EditFormTemplate Context="EditFormContext">
                    <DxFormLayout CssClass="w-100">
                        <DxFormLayoutItem Caption="Task:" ColSpanMd="12">
                            @EditFormContext.GetEditor("Name")
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Start Date:" ColSpanMd="6">
                            @EditFormContext.GetEditor("StartDate")
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Due Date:" ColSpanMd="6">
                            @EditFormContext.GetEditor("DueDate")
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Priority:" ColSpanMd="6">
                            @EditFormContext.GetEditor("Priority")
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Progress:" ColSpanMd="6">
                            @EditFormContext.GetEditor("Status")
                        </DxFormLayoutItem>
                    </DxFormLayout>
                </EditFormTemplate>
                <ToolbarTemplate>
                    <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Plain" SizeMode="Params.SizeMode">
                        <Items>
                            <DxToolbarItem BeginGroup="true" Alignment="ToolbarItemAlignment.Left">
                                <Template Context="toolbar_item_context">
                                    <div class="d-flex flex-row align-items-center h-100">
                                        <DxCheckBox Checked="UsePopupEditForm" CheckedChanged="new Func<bool, Task>(UsePopupEditForm_CheckedChanged)">Use Popup Edit Form</DxCheckBox>
                                    </div>
                                </Template>
                            </DxToolbarItem>
                        </Items>
                    </DxToolbar>
                </ToolbarTemplate>
            </DxTreeList>
        </div>
    </ChildContentWithParameters>

    @code {
        bool UsePopupEditForm { get; set; }
        TreeListEditMode CurrentEditMode { get { return UsePopupEditForm ? TreeListEditMode.PopupEditForm : TreeListEditMode.EditForm; } }

        async Task UsePopupEditForm_CheckedChanged(bool value) {
            UsePopupEditForm = value;
            await TreeList.CancelEditAsync();
        }

        ITreeList TreeList { get; set; }
        IList<EmployeeTask> DataSource { get; set; }
        object[] Priorities { get; } = new[] {
            new { Text = "High", Value = 1 },
            new { Text = "Medium", Value = 0 },
            new { Text = "Low", Value = -1 }
        };

        protected override void OnInitialized() {
            DataSource = EmployeeTaskDataProvider.GenerateData();
        }
        void TreeList_CustomizeEditModel(TreeListCustomizeEditModelEventArgs e) {
            if(e.IsNew) {
                var newTask = (EmployeeTask)e.EditModel;
                newTask.Id = DataSource.Max(x => x.Id) + 1;
                newTask.Name = "New task";
                newTask.StartDate = DateTime.Today;
                newTask.DueDate = DateTime.Today.AddDays(7);
                if(e.ParentDataItem != null) {
                    newTask.ParentId = ((EmployeeTask)e.ParentDataItem).Id;
                }
            }
        }
        void TreeList_EditModelSaving(TreeListEditModelSavingEventArgs e) {
            if(e.IsNew) {
                DataSource.Add((EmployeeTask)e.EditModel);
            } else {
                e.CopyChangesToDataItem();
            }
        }
        void TreeList_DataItemDeleting(TreeListDataItemDeletingEventArgs e) {
            DataSource.Remove((EmployeeTask)e.DataItem);
        }
    }
</DemoPageSectionComponent>
