<DemoPageSectionComponent Id="Editors-ComboBox-MultiColumn" ShowSizeMode="true">
    <ChildContentWithParameters Context="Params">
        @inject NwindDataService NwindDataService

        <label for="cbMultiColumn" class="demo-text cw-480 mb-1">
            Employee
        </label>
        <DxComboBox Data="@Data"
                    @bind-Value="@SelectedEmployee"
                    SearchMode="@ListSearchMode.AutoSearch"
                    SearchFilterCondition="@ListSearchFilterCondition.Contains"
                    EditFormat="{0} {1}"
                    CssClass="cw-480"
                    SizeMode="Params.SizeMode"
                    InputId="cbMultiColumn">
            <Columns>
                <DxListEditorColumn FieldName="@nameof(Employee.FirstName)" Caption="First Name" />
                <DxListEditorColumn FieldName="@nameof(Employee.LastName)" Caption="Last Name" />
                <DxListEditorColumn FieldName="@nameof(Employee.City)" Caption="City" />
            </Columns>
        </DxComboBox>
        <p class="demo-text cw-480 mt-3">
            @GetSelectedItemDescription()
        </p>
    </ChildContentWithParameters>


    @code {
        IEnumerable<Employee> Data { get; set; }
        Employee SelectedEmployee { get; set; }

        protected override async Task OnInitializedAsync() {
            Data = await NwindDataService.GetEmployeesAsync();
            SelectedEmployee = Data.FirstOrDefault();
        }

        RenderFragment GetSelectedItemDescription() {
            if(SelectedEmployee != null) {
                return @<text>
                    Selected Item: (
                        @GetFieldDescription(nameof(Employee.FirstName), SelectedEmployee.FirstName),
                        @GetFieldDescription(nameof(Employee.LastName), SelectedEmployee.LastName),
                        @GetFieldDescription(nameof(Employee.City), SelectedEmployee.City)
                    )
                </text>;
            }
            return @<text>Selected Item: <b>null</b></text>;
        }

        RenderFragment GetFieldDescription(string fieldName, object value) {
            return @<text>@fieldName: <b>@value</b></text>;
        }
    }
</DemoPageSectionComponent>
