<DemoPageSectionComponent Id="Utility-SplitButton-CustomContent" ShowSizeMode="true">
    <ChildContentWithParameters Context="Params">
        @inject NwindDataService NwindDataService
        <div class="component-container flex-column w-100">
            <div class="buttons-group mb-2">
                <div class="buttons-group-title mb-2">
                    Send report to:
                </div>
                <div>
                    <DxSplitButton RenderStyle="ButtonRenderStyle.Secondary"
                                   Text="Select Employee"
                                   SizeMode="Params.SizeMode"
                                   CssClass="me-1"
                                   IconCssClass="sb-icon sb-icon-user-profile"
                                   DropDownVisible="DropDownVisible">
                        <ChildContent>
                            <div class="item-template">
                                <img src="@StaticAssetUtils.GetImagePath(GetImageFileName(Value))" alt="@Value.FullName"/>
                                <span class="item-template-name">@Value.FullName</span>
                            </div>
                        </ChildContent>
                        <DropDownContentTemplate>
                            <div>
                                <DxListBox Data="@Data"
                                           @bind-Value="@Value"
                                           CssClass="listbox">
                                    <ItemDisplayTemplate>
                                        <div class="item-template">
                                            <img src="@StaticAssetUtils.GetImagePath(GetImageFileName(context.DataItem))" alt="@context.DataItem.FullName"/>
                                            <span class="item-template-name">@context.DataItem.FullName</span>
                                        </div>
                                    </ItemDisplayTemplate>
                                </DxListBox>
                            </div>
                        </DropDownContentTemplate>
                    </DxSplitButton>
                </div>
            </div>
        </div>
    </ChildContentWithParameters>

    @code {
        IEnumerable<Employee> Data { get; set; }
        bool DropDownVisible { get; set; }
        Employee Value { get; set; }

        protected override async Task OnInitializedAsync() {
            Data = await NwindDataService.GetEmployeesAsync();
            Value = Data.FirstOrDefault();
            DropDownVisible = false;

            await base.OnInitializedAsync();
        }

        string GetImageFileName(Employee employee) {
            return $"employees/item-template{employee.EmployeeId}.jpg";
        }

    }

</DemoPageSectionComponent>
